<!DOCTYPE html>
<html lang="vi">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <%= display_meta_tags site: 'Fulfillment Hub' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield :stylesheets %>

  <%= favicon_link_tag %>
</head>

<body class="footer-offset has-navbar-vertical-aside navbar-vertical-aside-show-xl">

<%= yield %>

<%= yield :javascripts %>
</body>
</html>
